// override card styling from Bulma
.card {
  padding: 0;
  margin: 0 10px;
  border-radius: 10px;

  &_tag {
    position: absolute;
    background: $pal-navy;
    color: $pal-white;
    right: 0;
    top: -26px;
    border-radius: 10px 10px 0 0;
    min-width: 140px;
    height: 26px;
    padding: 7px 10px 0 10px;
    @include text-label;
    text-align: center;

    &-switch {
      cursor: pointer;
    }
  }

  &_hdr {
    @include title-card;
    font-family: AvenirHeavy;
    padding: 30px 10px;
    text-align: center;
    background: $pal-navy;
    color: $pal-white;
    border-radius: 10px 10px 0 0;

    @include mobile() {
      @include font-size(20px/14);
    }
  }

  &_body {
    padding: 20px;
    min-height: 140px;
  }

  &_tabs {
    margin: 0;
    text-align: center;

    > div {
      border-bottom: 2px solid $pal-red;
      transition: all 0.25s ease;
      padding: 10px;
      @include text-label;

      &.is-active {
        background: $pal-red;
        color: $pal-white;
      }
    }
  }


  @include mobile() {
    margin-bottom: 40px;
  }
}

